.App-header {
  background-color: #f45c5b;
  height: 100vh;
}

.Logo-img {
  width: 40%;
  border-radius: 50%;
}

.Text-align {
  text-align: center;
}

.Full-size {
  height: 100vh;
  width: 100vw;
}

.Display-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
}

.White-lg-text {
  color: white;
  font-size: 1.2rem;
}

.White-border{
  border: white 1px solid;
}

.Tab-box {
  padding: 3rem;
}

a {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-tabs .nav-link.active {
  color: #f45c5b;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.Grey-text {
  color: grey;
}
